.topbar-appBar {
  height: 60px;
  justify-content: center;
  background-color: #333;
}

.navbar-data {
  display: flex;
  gap: 2rem;
  align-items: center;
  color: #fff;
  padding: 0 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-data .version {
  font-size: 1.2rem;
  margin-left: 1rem;
  color: #ccc;
}

.advancedFeaturesCheckbox {
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: #000;
  transition: background-color 0.3s ease;
  border: 2px solid #007bff;
}

.checkbox-wrapper-64 .slider {
  background-color: #f0f0f0;
  border: 1px solid #adb5bd;
}

.checkbox-wrapper-64 input:checked+.slider {
  background-color: #007bff;
  border: 1px solid #007bff;
}